.git
.idea
.vscode
dist
node_modules
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
storage/logs/*
vendor
.env
.env.backup
.env.production
.phpunit.result.cache
database/database.sqlite
public/hot
public/storage
